<%= form_for [ @employee, @timestamp ] do |f| %>

<% 
emp = @employee
%>


<p><%=

if emp.timestamps.last === nil
	f.submit "Clock In", :id => 'submitButton'

elsif emp.timestamps.last.working
	f.submit "Clock Out", :id => 'submitButton'

elsif !emp.timestamps.last.working
	f.submit "Clock In", :id => 'submitButton'
end

%></p>


<% end %>
