<h1>All Employees</h1>

<ul id="employees">
	<% @employees.each do |employee| %>
		<li>
			<%  name = employee.first + " " + employee.last %>
			<%= link_to name, employee_path(employee) %>
		</li>
	<% end %>
</ul>

<%= link_to "Create a New Employee", new_employee_path %>
