<h1>All Employees</h1>

<ul id="employees">
	<% @employees.each do |employee| %>
		<li>
			<%= link_to "GoTo", employee_path(employee) %>
			<%= employee.first + " " + employee.last %>
		</li>
	<% end %>
</ul>
