<h1>Damico Construction Company</h1>


<p>Welcome to our Company Website. This site is still under construction, appologies for the minimilistic look. Below I have layed out useful places to go. This page is simply for navigation. Happy travelings.</p>

<ul>

	<li>
	<h2>

	<%= link_to "Employee Clock", employees_path, :class => 'test' %>
	</h2>
	</li>
	<li>
	<h2>Paving Bidder</h2>
	</li>

</ul>
